body{
    background-color: aquamarine;
    /*background-image: url('C:\Users\basil\Downloads\toof.jpg');*/
    /*background-image: url('toof.jpg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

p{
    color: white;
}

ul{
    color: white;
}

h1{
    color: white;
}

.top{
    font-weight: bold;
}

.image{
    float: right;
}

.links{
    a{
        color: wheat;
    }
}